.import-form {
  border: 2px dashed #ccc;
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  background-color: #f0f0f0;

  &.drag-over {
    border-color: #007bff;
    background-color: #f8f9fa;
  }
}

.file-upload-btn input {
  display: none;
}

.download-sample a {
  color: #007bff;
  text-decoration: none;
}

.download-sample a:hover {
  text-decoration: underline;
}

.input-img-container{
  position: relative;
  i{
    position: absolute;
    top: 5%;
    right: -5px;
    transform: translateY(-50%);
    padding: 1px;
    border: 3px solid #FFF;
    background-color: #ff9e9e;
  }
}

.table-responsive{
  max-height: 55vh;
  table{
    thead{
      tr{
        background-color: rgb(248, 248, 248);
        th{
          background-color: transparent;
          padding: 8px;
          select{
            background-color: transparent;
            width: 100%;
            outline: none;
            border: none;
          }
        }
      }
    }
  }
}
