<div class="upload-container" [class.dragging]="isDragging">
  <label class="d-flex align-items-center justify-content-evenly w-100">
    <input type="file" hidden (change)="onFileChange($event)" />

    <div class="upload-content">
      <p class="m-0">
        <img src="assets/drag-drop-upload-add-file-600nw-2295195505.webp" alt="" width="50"> Drag a file here or <span class="browse">browse</span> for a file to upload
      </p>
      <small class="mt-2" *ngIf="fileName">{{ fileName }}</small>
    </div>

    <div class="preview-container">
      <ng-container *ngIf="previewUrl; else noImage">
        <i class="bx bx-x-circle text-danger rounded-5" (click)="clearPreview()"></i>
        <img [src]="previewUrl" alt="Preview" />
      </ng-container>
      <ng-template #noImage>
        <img
          src="https://www.shutterstock.com/image-vector/no-photo-thumbnail-graphic-element-600nw-2311073121.jpg"
          alt="No preview"
        />
      </ng-template>
    </div>
  </label>
</div>
