<div class="upload-container" #dropzone >
  <label
    class="d-flex align-items-center justify-content-evenly w-100 file-upload"
    #nativeFileUpload
  >
    <input
      type="file"
      hidden
      #fileInput
      [multiple]="__isMultiple"
      (change)="loadImageFromDeviceMulti($event)"
    />

    <div class="upload-content">
      <p class="m-0">
        <img
          src="assets/drag-drop-upload-add-file-600nw-2295195505.webp"
          alt=""
          width="50"
        />
        Drag a file here or <span class="browse">browse</span> for a file to
        upload
      </p>
      @if (tempFile.fileName != "") {
      <small class="mt-2">{{ tempFile.fileName }}</small>
      }
    </div>
    <div class="preview-container">
      @if (tempFile.content) {
      <ng-container>
        <i class="bx bx-x-circle text-danger rounded-5"></i>
        <img [src]="tempFile.content" alt="Preview" />
      </ng-container>
      }
    </div>
  </label>
</div>
