<div class="sheet-main-container">
  <div class="container py-3">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="bg-white rounded shadow-sm">
          <div class="img-container mb-2 rounded">
          </div>
        </div>
        <div class="form-header bg-white p-3 rounded">
          <p class="fs-5 fw-bold">Form Header</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti atque fuga delectus vitae iusto doloribus voluptates officia doloremque nihil obcaecati.</p>
        </div>
        <div class="bg-white p-3 rounded mt-2">
          <p class="fs-6 fw-semibold">1. Name <span class="text-danger">*</span></p>
          <div class="col-md-6">
            <app-input-control
          [required]="true"
          type="text"
          ></app-input-control>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
