<div class="dashboard-main-comtainer pb-3">
  <div class="dashboard-header">
    <h1 class="fs-5 fw-bold">Trainer Dashboard</h1>
    <p class="text-secondary">Check your business growth in one place</p>
  </div>
  <div class="counts-container">
    <div class="row">
      <div class="col-3">
        <div class="calls-count border p-4 rounded">
          <div class="calls-count-header">
            <div class="d-flex gap-2 align-items-center">
              <i class="bx bxs-video fs-4" style="color: #0d6efd"></i>
              <p class="m-0 p-0 fw-semibold small text-secondary">Complited</p>
            </div>
            <div class="mt-1 d-flex gap-2 align-items-center">
              <p class="m-0 p-0 fs-3 fw-bold text-primary">5</p>
              <p class="m-0 p-0 fw-bold">Class Complited</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="calls-count border p-4 rounded">
          <div class="calls-count-header">
            <div class="d-flex gap-2 align-items-center">
              <i
                class="bx bxs-alarm-exclamation fs-4"
                style="color: #0d6efd"
              ></i>
              <p class="m-0 p-0 fw-semibold small text-secondary">Pending</p>
            </div>
            <div class="mt-1 d-flex gap-2 align-items-center">
              <p class="m-0 p-0 fs-3 fw-bold text-primary">5</p>
              <p class="m-0 p-0 fw-bold">Class waiting</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <p class="fw-bold text-secondary m-0 p-0">Next Class</p>
        <ul class="topleadsources-list mt-3 p-0">
          <li
            class="d-flex justify-content-between align-items-center pb-2"
          >
            <div class="d-flex gap-2 align-items-center">
              <span>1.</span>
              <small>None</small>
            </div>
            <small><a href="" class="btn btn-sm btn-primary ">Start Class</a></small>
          </li>
          <li
            class="d-flex justify-content-between align-items-center pb-2"
          >
            <div class="d-flex gap-2 align-items-center">
              <span>2.</span>
              <small>None</small>
            </div>
            <small><a href="" class="btn btn-sm btn-primary disabled">Start Class</a></small>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="dashboard-hours mt-3">
    <h1 class="fs-5 fw-bold">Trainer Activity April 2025</h1>
    <p class="text-secondary">Check your business growth in one place</p>

    <div class="calender-activity">
      <div class="calendar-container">
        <div class="row">
          <div class="col-10" style="overflow-x: auto">
            <div class="calendar" id="calendar">

            </div>
            <div>
              <div
                class="reting d-flex align-items-center justify-content-end gap-1 mt-3"
              >
                <small class="text-muted">Less</small>
                <div class="empty"></div>
                <div class="low"></div>
                <div class="normal"></div>
                <div class="midium"></div>
                <div class="full"></div>
                <small class="text-muted">More</small>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="month-container w-100">
              <a href="" class="active w-100">April 2025</a>
              <a href="" class="w-100">March 2025</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
