.empty,
.low,
.normal,
.midium,
.full {
  width: 15px;
  height: 14px;
  border: 1px solid #ccc;
}
.empty {
  border: 1px solid #CCC;
}

.low {
  background-color: #56d364;
}
.normal {
  background-color: #2ea043;
}
.midium {
  background-color: #196c2e;
}
.full {
  background-color: #033a16;
}

.month-container{
  display: flex;
  flex-direction: column;
  a{
    padding: 0.5rem ;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 0.2rem;
  }
  .active{
    background-color: #FF751A !important;
    color: #FFF;
  }
  a:hover{
    background-color: #f0f0f0;
  }
}
