<div>
  <div class="export-heding">
    <p class="fs-5 fw-bold">Export Leads</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem perferendis libero cumque cupiditate ipsum! Voluptas, quis eum voluptates quibusdam beatae unde iste similique aliquid ipsa inventore ipsum illum hic suscipit.</p>
  </div>
  <div class="export-body">
    <div class="table-responsive mt-3" style="height: 75vh;">
      <table class="table table-bordered table-striped mt-3">
        <thead>
          <tr>
            <td>File Name</td>
            <td>File Type</td>
            <td>Created Date</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> Export_Leads_10_05_25_13_58_USERNAME </td>
            <td> csv </td>
            <td> 10 May 2025 </td>
            <td class="d-flex align-items-center gap-3">
              <div class="download border px-2 py-1 cr-pointer rounded">
                <i class='bx bxs-cloud-download fs-5' ></i>
              </div>
              <div class="delete border px-2 py-1 cr-pointer rounded">
                <i class='bx bx-trash fs-5'></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
