

.stepper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px auto;
  max-width: 800px;

  .step {
    position: relative;
    text-align: center;
    flex: 1;

    .circle {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: #b3d4fc; // default (pending)
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      z-index: 2;
    }

    .checkmark {
      color: white;
      font-size: 14px;
    }

    .label {
      font-weight: 600;
      font-size: 15px;
      color: #000;
      margin-top: 12px;
    }

    .line {
      position: absolute;
      top: 13px;
      left: 60% !important;
      width: 80%;
      height: 2.40px;
      background-color: #b3d4fc;
      z-index: 1;
    }

    &:not(:last-child) .line {
      right: -50%;
    }

    &:first-child .line {
      left: 50%;
    }

    &:last-child .line {
      display: none;
    }

    &.completed {
      .circle {
        background-color: #00796b;
      }

      .line {
        background-color: #00796b;
      }
    }

    &.active {
      .circle {
        background-color: #fff;
        border: 3px solid #1976d2;
        box-shadow: 0 0 0 3px #bbdefb;
      }

      .line {
        background: #b3d4fc;
      }
    }
  }
}

.input-img-container{
  position: relative;
  i{
    position: absolute;
    top: 5%;
    right: -5px;
    transform: translateY(-50%);
    padding: 1px;
    border: 3px solid #FFF;
    background-color: #ff9e9e;
  }
}
