<div class="mb-1">
  <div class="mb-2 gap-2 search-container rounded px-3">
    <i class='bx bx-search-alt fs-5'></i>
    <input type="search" class="custom-input-control" placeholder="Search something..." />
  </div>
  <div class="d-flex align-items-center justify-content border rounded p-2 gap-3 w-100 contact-container chat-active-">
    <div class="">
      <img src="https://newprofilepic.photo-cdn.net//assets/images/article/profile.jpg?90af0c8"
           alt="Profile"
           width="40"
           height="40"
           class="rounded-circle">
    </div>

    <div class="d-flex align-items-center justify-content-between gap-2 w-100">
      <div class="">
        <p class="m-0 fw-semibold">Ramesh Kumar <span class="small text-primary">Trainer</span></p>
        <p class="m-0 small text-truncate text-muted" style="max-width: 222px; font-style: italic;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quidem repudiandae cumque et alias dolores repellendus ullam exercitationem porro eaque, similique provident accusamus! Cum ad, fugit aliquid cumque consequatur earum.
        </p>
      </div>
      <div class="d-flex align-items-center justify-content-center custom-badge rounded-5 text-white position-relative px-1">
        <span class="fw-semibold text-light">8</span>
      </div>
    </div>
  </div>
</div>
<div class="mb-1">
  <div class="d-flex align-items-center justify-content border rounded p-2 gap-3 w-100 contact-container">
    <div class="">
      <img src="favicon.png"
           alt="Profile"
           width="40"
           height="40"
           class="rounded-circle border">
    </div>

    <div class="d-flex align-items-center justify-content-between gap-2 w-100">
      <div class="">
        <p class="m-0 fw-semibold">German-A1-Online-25-07-2024</p>
        <p class="m-0 small text-truncate text-muted" style="max-width: 222px; font-style: italic;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quidem repudiandae cumque et alias dolores repellendus ullam exercitationem porro eaque, similique provident accusamus! Cum ad, fugit aliquid cumque consequatur earum.
        </p>
      </div>
      <div class="d-flex align-items-center justify-content-center custom-badge rounded-5 text-white position-relative px-1">
        <span class="fw-semibold text-light">9+</span>
      </div>
    </div>
  </div>
</div>
<div class="mb-1">
  <div class="d-flex align-items-center justify-content border rounded p-2 gap-3 w-100 contact-container">
    <div class="">
      <img src="https://newprofilepic.photo-cdn.net//assets/images/article/profile.jpg?90af0c8"
           alt="Profile"
           width="40"
           height="40"
           class="rounded-circle">
    </div>

    <div class="d-flex align-items-center justify-content-between gap-2 w-100">
      <div class="">
        <p class="m-0 fw-semibold">Sam Kumar</p>
        <p class="m-0 small text-truncate text-muted" style="max-width: 222px; font-style: italic;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quidem repudiandae cumque et alias dolores repellendus ullam exercitationem porro eaque, similique provident accusamus! Cum ad, fugit aliquid cumque consequatur earum.
        </p>
      </div>
      <div class="d-flex align-items-center justify-content-center custom-badge rounded-5 text-white position-relative px-1">
        <span class="fw-semibold text-light">8</span>
      </div>
    </div>
  </div>
</div>
