<div class="sidebar bg-light" [ngClass]="{ close: !isSidebarClosed }">
  <header>
    <div class="image-text">
      <span class="image">
        <a routerLink="dashboard">
          <img src="favicon.png" alt="" />
        </a>
      </span>
      <a routerLink="dashboard" class="text-dark text-decoration-none">
        <div class="text logo-text">
          <span class="name fs-5 fw-bold m-0">inlingua</span>
          <span class="profession">Language Center</span>
        </div>
      </a>
    </div>
    <div (click)="toggleSidebar()" class="toggle">
      <i class="bx bx-chevron-right"></i>
    </div>
  </header>
  <div class="menu-bar">
    <div class="menu">
      <ul class="menu-links">
        <li class="nav-link">
          <a routerLink="dashboard" routerLinkActive="active">
            <ion-icon
              src="assets/svg/dashboard.svg"
              class="icon icon-img"
            ></ion-icon>
            <span class="text nav-text">Dashboard</span>
          </a>
        </li>
        @if (appservice.user.userRole === "SUSER") {
        <li class="nav-link">
          <a routerLink="leads" routerLinkActive="active">
            <ion-icon
              src="lead-generation.svg"
              class="icon icon-img"
            ></ion-icon>
            <span class="text nav-text">Leads</span>
          </a>
        </li>
        } @if (appservice.user.userRole === "SUSER") {
        <li class="nav-link">
          <a routerLink="students" routerLinkActive="active">
            <ion-icon
              src="assets/svg/Students-icon.svg"
              class="icon icon-img"
            ></ion-icon>
            <span class="text nav-text">Students</span>
          </a>
        </li>
        } @if (appservice.user.userRole === "SUSER") {
        <li class="nav-link">
          <a routerLink="counselors" routerLinkActive="active">
            <ion-icon
              src="assets/svg/counselor.svg"
              class="icon icon-img"
            ></ion-icon>
            <span class="text nav-text">Counselors</span>
          </a>
        </li>
        <li class="nav-link">
          <a routerLink="trainers" routerLinkActive="active">
            <ion-icon
              src="assets/svg/trainer.svg"
              class="icon icon-img"
            ></ion-icon>
            <span class="text nav-text">Trainers</span>
          </a>
        </li>
        } @if (appservice.user.userRole === "SUSER" || appservice.user.userRole
        === "TRAINER") {
        <li class="nav-link">
          <a routerLink="batchs" routerLinkActive="active">
            <ion-icon
              src="assets/svg/classroom.svg"
              class="icon icon-img"
            ></ion-icon>
            <span class="text nav-text">Batchs</span>
          </a>
        </li>
        }
        @if (false) {
          <li class="nav-link">
          <a routerLink="chating" routerLinkActive="active">
            <i class="bx bx-message-dots icon"></i>
            <span class="text nav-text">Chating</span>
          </a>
        </li>
        }
        <li class="nav-link">
          <a routerLink="setting" routerLinkActive="active">
            <i class="bx bx-cog icon"></i>
            <span class="text nav-text">Settings</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="bottom-content">
      <ul class="">
        <li class="logout-btn">
          <a (click)="logout()">
            <i class="bx bx-log-out icon"></i>
            <span class="text nav-text">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
