.main-navbar {
  width: 100%;
  padding: 10px 14px;
  min-height: 63px;
}

.colse {
  width: calc(100vw - 88px);
  left: 88px;
}

.main-navbar .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
