<div class="dashboard-main-comtainer">
  <div class="dashboard-header">
    <h1 class="fs-5 fw-bold">CRM Dashboard</h1>
    <p class="text-secondary">Check your business growth in one place</p>
  </div>
  <div class="counts-container">
    <div class="row">
      <div class="col-3">
        <div class="calls-count border p-4 rounded">
          <div class="calls-count-header">
            <div class="d-flex gap-2 align-items-center">
              <i class="bx bxs-phone-call fs-4" style="color: #0d6efd"></i>
              <p class="m-0 p-0 fw-semibold small text-secondary">
                Outgoing call
              </p>
            </div>
            <div class="mt-1 d-flex gap-2 align-items-center">
              <p class="m-0 p-0 fs-3 fw-bold text-primary">5</p>
              <p class="m-0 p-0 fw-bold">Leads Today</p>
            </div>
          </div>
          <hr />
          <div class="d-flex flex-column">
            <div class="badge text-bg-success" style="width: fit-content">
              +24.5%
            </div>
            <span class="small text-secondary"> Than Yesterday </span>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="calls-count border p-4 rounded">
          <div class="calls-count-header">
            <div class="d-flex gap-2 align-items-center">
              <i class="bx bxs-phone-call fs-4" style="color: #0d6efd"></i>
              <p class="m-0 p-0 fw-semibold small text-secondary">
                Converted Leads
              </p>
            </div>
            <div class="mt-1 d-flex gap-2 align-items-center">
              <p class="m-0 p-0 fs-3 fw-bold text-primary">5</p>
              <p class="m-0 p-0 fw-bold">Students Today</p>
            </div>
          </div>
          <hr />
          <div class="d-flex flex-column">
            <div class="badge text-bg-success" style="width: fit-content">
              +24.5%
            </div>
            <span class="small text-secondary"> Than Yesterday </span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <p class="fw-bold text-secondary m-0 p-0">Top 4 Lead Sources</p>
        <ul class="topleadsources-list mt-3">
          <li class="my-2 d-flex justify-content-between align-items-center pb-2">
            <div class="d-flex gap-2 align-items-center">
              <span>1.</span>
              <small>None</small>
            </div>
            <small>50</small>
          </li>
          <li class="my-2 d-flex justify-content-between align-items-center pb-2">
            <div class="d-flex gap-2 align-items-center">
              <span>1.</span>
              <small>None</small>
            </div>
            <small>50</small>
          </li>
          <li class="my-2 d-flex justify-content-between align-items-center pb-2">
            <div class="d-flex gap-2 align-items-center">
              <span>1.</span>
              <small>None</small>
            </div>
            <small>50</small>
          </li>
          <li class="my-2 d-flex justify-content-between align-items-center pb-2">
            <div class="d-flex gap-2 align-items-center">
              <span>1.</span>
              <small>None</small>
            </div>
            <small>50</small>
          </li>
        </ul>
      </div>
    </div>
    <div class="contacts mt-3">
      <div class="dashboard-header">
        <h1 class="fs-5 fw-bold">Contacts Created</h1>
        <p  class="text-secondary">Payment received across all channels</p>
      </div>
      <div class="chart-container">
        <canvas #myChart></canvas>
      </div>
    </div>
    <div class="contacts mt-5">
      <div class="contacts-by-source">
        <h1 class="fs-5 fw-bold">New Contacts by Source</h1>
        <p  class="text-secondary">Payment received across all channels</p>
      </div>
    </div>
  </div>
</div>
