<div class="sheet-main-container">
  <div class="container py-3">
    <div>
      <p class="fs-5 fw-bold">Create Batch</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate minus temporibus optio quo rerum, natus
        aliquam, minima necessitatibus atque incidunt animi saepe magnam soluta laudantium numquam quam dolores expedita
        eveniet?</p>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="stepper">
          <div [ngClass]="getStepClass(1)">
            <div class="line"></div>
            <div class="circle"></div>
            <p class="m-0 mt-1">Personal Details</p>
          </div>

          <div [ngClass]="getStepClass(2)">
            <div class="line"></div>
            <div class="circle"></div>
            <p class="m-0 mt-1">Students & Trainers</p>
          </div>
        </div>
        <form #l="ngForm" (ngSubmit)="onSubmit(l)">
          @switch (currentStep) { @case (1){
          <div>
            <div class="bg-white p-3 rounded row">
              <div class="col-5">
                <app-input-control
                  label="Language"
                  [required]="true"
                  [errorTrue]="errorTrue"
                  [(ngModel)]="newBatchForm.language"
                  name="language"
                  (onSelect)="getLevelAndHours(newBatchForm.language)"
                  defaultOption="--Select Language--"
                  [items]="languages?.languages"
                  key="id" keyName="name"
                  type="select"
                ></app-input-control>
              </div>
              <div class="col-7">
                <app-input-control
                  label="Course Levels"
                  [required]="true"
                  [errorTrue]="errorTrue"
                  [(ngModel)]="newBatchForm.courseLevel"
                  [items]="levelAndHour?.Levelandhours"
                  defaultOption="--Select Level--"
                  key="id" keyName="level"
                  type="select"
                  name="courseLevel"
                ></app-input-control>
              </div>
            </div>
            <div class="bg-white p-3 rounded row">
              <div class="col-6">
                <app-input-control
                  label="Batch Preferences"
                  [required]="true"
                  [errorTrue]="errorTrue"
                  [items]="batchPreferences"
                  defaultOption="--Select Level--"
                  key="value" keyName="label"
                  type="select"
                  [(ngModel)]="newBatchForm.batchPreferences"
                  name="batchPreferences"
                ></app-input-control>
              </div>
              <div class="col-6">
                <app-input-control
                  label="Batch Type"
                  [required]="true"
                  [errorTrue]="errorTrue"
                  [items]="batchDetails?.BATCH_TYPE_CHOICES"
                  defaultOption="--Select Level--"
                  key="value" keyName="label"
                  type="select"
                  [(ngModel)]="newBatchForm.batchType"
                  name="batchType"
                ></app-input-control>
              </div>
            </div>
            <div class="bg-white row p-3 rounded">
              <div class="col-6">
                <app-input-control
                  label="Start Time"
                  [required]="true"
                  [errorTrue]="errorTrue"
                  type="time"
                  [(ngModel)]="newBatchForm.startTime"
                  name="startTime"
                ></app-input-control>
              </div>
              <div class="col-6">
                <app-input-control
                  label="End Time"
                  [required]="true"
                  [errorTrue]="errorTrue"
                  type="time"
                  [(ngModel)]="newBatchForm.endTime"
                  name="endTime"
                ></app-input-control>
              </div>
            </div>
            <div class="bg-white row p-3 rounded">
              <div class="col-6">
                <app-input-control
                  label="Start Date"
                  [required]="true"
                  [errorTrue]="errorTrue"
                  type="date"
                  [(ngModel)]="newBatchForm.startDate"
                  name="startDate"
                ></app-input-control>
              </div>
              <div class="col-6">
                <app-input-control
                  label="End Date"
                  [required]="true"
                  [errorTrue]="errorTrue"
                  type="date"
                  [(ngModel)]="newBatchForm.endDate"
                  name="endDate"
                ></app-input-control>
              </div>
            </div>

            <div
              class="btngroup mt-3 d-flex justify-content-end align-items-center"
            >
              <button
                type="submit"
                class="btn btn-sm px-5 rounded-5 btn-primary"
              >
                Next
              </button>
            </div>
          </div>
          } @case (2) {
          <div>
            <div class="bg-white p-3 rounded mt-2">
              <div class="col">
                <app-input-control
                  label="Add Students"
                  [required]="true"
                  [errorTrue]="errorTrue"
                  [(ngModel)]="newBatchForm.studentList"
                  name="studentList"
                  defaultOption="--Select Language--"
                  [items]="students"
                  [multipleSelect]="true"
                  key="id"
                  keyName="name"
                  type="select"
                ></app-input-control>
              </div>
              <div class="col">
                <app-input-control
                  label="Add Trainer"
                  [required]="true"
                  [errorTrue]="errorTrue"
                  [(ngModel)]="newBatchForm.trainerID"
                  name="trainerID"
                  defaultOption="--Select Language--"
                  [items]="trainers"
                  key="id"
                  keyName="name"
                  type="select"
                ></app-input-control>
              </div>
            </div>
            <!-- Buttons -->
            <div
              class="btgroup d-flex justify-content-between align-items-center mt-3"
            >
              <button
                type="button"
                class="btn btn-sm btn-danger px-5 rounded-5"
                (click)="prevStep()"
              >
                Back
              </button>
              <button
                type="submit"
                class="btn btn-sm btn-primary px-5 rounded-5"
              >
                Next
              </button>
            </div>
          </div>
          } }
        </form>
      </div>
    </div>
  </div>
</div>
