@if (isLoading) {
  <div class="main-container">
    <div class="container">
      <div class="row vh-100">
        <!-- Left Side: Image -->
        <div
          class="col-md-6 d-flex justify-content-center align-items-center p-4"
        >
          <img
            src="assets/table_svg/set_new_password.svg"
            class="img-fluid"
            alt="OTP Illustration"
          />
        </div>

        <!-- Right Side: OTP Form -->
        <div
          class="col-md-6 d-flex justify-content-center align-items-center p-4"
        >
        @if (showTokenError) {
          <form #l="ngForm" (ngSubmit)="onSubmit(l)" class="w-75">
            <div class="border p-5 rounded">
              <div>
                <div style="width: 100%">
                  <h4 class="m-0 p-0 text-center">Set New Password</h4>

                  <!-- OTP Boxes -->
                  <div class="mt-4">
                    <app-input-control
                      type="password"
                      [errorTrue]="errorTrue"
                      [passwordStrength]="true"
                      label="Password"
                      [(ngModel)]="password"
                      name="password"
                    ></app-input-control>
                  </div>

                  <!-- OTP Boxes -->
                  <div class="mt-4">
                    <app-input-control
                      type="password"
                      [errorTrue]="errorTrue"
                      label="Conform Password"
                      [(ngModel)]="conformPassword"
                      name="conformPassword"
                    ></app-input-control>
                  </div>
                </div>
              </div>
              <!-- Resend + Button -->
              <div class="text-center mt-3">
                <button
                  class="btn btn-c-primary px-4 rounded-5 w-100"
                  type="submit"
                >
                  Submit
                </button>
              </div>
            </div>
          </form>
        }
        @else {
          <div class="alert alert-danger" role="alert">
            Error
          </div>
        }
        </div>
      </div>
    </div>
  </div>

}
@else {
  <app-page-loding></app-page-loding>
}
