<div>
  <form>
    <row>
      <div class="col-md-4">
        <app-input-control type="text" label="First Name" [required]="true"></app-input-control>
      </div>
      <div class="col-md-4">
        <app-input-control type="text" label="Last Name" [required]="true"></app-input-control>
      </div>
      <div class="col-md-4">
        <app-input-control type="date" label="Last Name" [required]="true"></app-input-control>
      </div>
    </row>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
