td {
  text-wrap: nowrap;
}
.active {
  background-color: #ff751a !important;
}

.revaa-form-group {
  .label-container {
    .bottom {
      display: none !important;
    }
  }
  padding-bottom: 0 !important;
}


