@if (isLoading) {
<div class="pb-3">
  <div class="d-flex justify-content-between">
    <div>
      <i class="bx bx-arrow-back fs-4" style="cursor: pointer" (click)="goBack()"></i>
    </div>
    <div class="d-flex gap-2 align-items-center">
      <button class="btn btn-primary px-3 rounded-5 btn-sm" (click)="editDetails()">
        Edit Details
      </button>
      <i class="bx bx-trash fs-4 cr-pointer" (click)="deliteDetails()"></i>
      <i class="bx bx-dots-vertical fs-4 cr-pointer"></i>
    </div>
  </div>

  <div class="d-flex gap-2 align-items-center mt-4">
    <div class="student-img-container">
      @if (leadDetail.leadPhoto != null) {
      <img src="{{ leadDetail.leadPhoto.documentContant }}" alt="{{leadDetail.leadPhoto.documentName}}" />
      } @else {
      <div class="initials fw-bold text-uppercase">
        @if (leadDetail.leadName) {
        {{ leadDetail.leadName.charAt(0)
        }}{{ leadDetail.leadName.charAt(1)}}
        }
      </div>
      } @if (!isEnabled) {
      <i class="bx bx-edit-alt edit-icon fs-4"></i>
      }
    </div>
    <p class="fs-5 fw-bold m-0 p-0">
      {{ leadDetail.leadName }}
    </p>
    <!-- Example single danger button -->
    <div class="btn-group">
      <span class="NEW px-2 py-1 rounded cr-pointer dropdown-toggle btn-sm small"
        data-bs-toggle="dropdown" aria-expanded="false">
        {{ leadDetail.leadStatusLabel}}
      </span>
      <ul class="dropdown-menu">
        @for (status of LeadStatus; track $index) {
        <li><a class="dropdown-item" (click)="changeStatus(status.key)">{{status.label}}</a></li>
        }
      </ul>
    </div>
  </div>
  <div class="icon-row-container mt-4">
    <div class="icon-row">
      <div class="icon-box">
        <a href="{{ leadDetail.leadEmail }}" class="text-dark text-decoration-none"><i class="bx bx-envelope"></i></a>
        <span>Email</span>
      </div>
      <div class="icon-box">
        <a href="" class="text-dark text-decoration-none"><i class="bx bx-calendar"></i></a>
        <span>Schedule</span>
      </div>
      <div class="icon-box">
        <a href="tel:+91 {{ leadDetail.leadMobileNumber }}" class="text-dark text-decoration-none"><i
            class="bx bx-phone"></i></a>
        <span>Call</span>
      </div>
      <div class="icon-box">
        <a [href]="'https://wa.me/91' + leadDetail.leadMobileNumber + '?text= Hi, please fill out the form: http://localhost:4200/register-form'"
          class="text-dark text-decoration-none" target="_blank">
          <i class='bx bx-spreadsheet'></i>
        </a>
        <span>Send Form</span>
      </div>

    </div>
    <div class="divider-line"></div>
  </div>
  <div>
    <form #l="ngForm" (ngSubmit)="onSubmit(l)">
      <div class="row">
        <p class="fs-5 fw-bold">Lead Details</p>
        <div class="col-md-4">
          <app-input-control label="First Name" [required]="true" [btnClicked]="isEnabled"
            [(ngModel)]="leadDetail.leadName" name="firstName"></app-input-control>
        </div>
        <div class="col-md-4">
          <app-input-control label="Email" type="email" [required]="true" [btnClicked]="isEnabled"
            [(ngModel)]="leadDetail.leadEmail" name="email"></app-input-control>
        </div>
        <div class="col-md-4">
          <app-input-control label="Mobile Number" type="number" [required]="true" [btnClicked]="isEnabled"
            [(ngModel)]="leadDetail.leadMobileNumber" name="mobileNumber"></app-input-control>
        </div>
        <div class="col-md-4">
          <app-input-control label="Lead Source" type="number" [required]="true" [btnClicked]="true"
            [(ngModel)]="leadDetail.leadSource" name="leadSource"></app-input-control>
        </div>
        <div class="col-md-4">
          <app-input-control label="CallBack Date" type="date" [btnClicked]="isEnabled"
            [(ngModel)]="leadDetail.callbackDate" name="CallbackDate"></app-input-control>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <app-input-control label="Lead Remark" type="text" [btnClicked]="isEnabled"
            [(ngModel)]="leadDetail.remark" name="remark"></app-input-control>
        </div>
        <div class="col-6">
          <app-input-control label="Counselor Remark" type="text" [btnClicked]="isEnabled"
            [(ngModel)]="leadDetail.counselorRemark" name="remark"></app-input-control>
        </div>
      </div>
      @if (!isEnabled) {
      <div class="d-flex justify-content-end mt-3">
        <button type="submit" class="btn btn-sm btn-primary">Sumbit</button>
      </div>
      }
    </form>
  </div>
  @if (false) {
    <div class="history-container mt-4">
    <p class="fs-5 fw-bold">Lead History</p>
    <div class="timeline mt-3">
      <div class="Next-timeline-item d-flex align-items-center gap-2 mb-2">
        <div class="Next-timeline-dot"></div>
        <div class="timeline-content bg-light py-1 px-2 rounded">
          <p class="m-0 p-0 text-muted small">Next Changes ...</p>
        </div>
      </div>
      <!--  -->
      <div class="timeline-item d-flex align-items-end gap-2 mb-2">
        <div class="timeline-dot"></div>
        <div class="timeline-content bg-light py-1 px-2 rounded">
          <p class="mb-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum dignissimos, quisquam, quas
            nobis doloremque et id repellat inventore aliquam qui delectus distinctio quae ipsam molestiae voluptatum
            mollitia, recusandae quia! Pariatur!</p>
          <p class="text-muted mb-0">
            <small>Vignesh Muthaiyan | 03-05-2025 | 14:57 PM</small>
          </p>
        </div>
      </div>
      <div class="timeline-item d-flex align-items-end gap-2 mb-2">
        <div class="timeline-dot"></div>
        <div class="timeline-content bg-light py-1 px-2 rounded">
          <p class="mb-2">Test</p>
          <p class="text-muted mb-0">
            <small>Vignesh Muthaiyan | 03-05-2025 | 14:57 PM</small>
          </p>
        </div>
      </div>
    </div>
  </div>
  }
</div>
} @else {
<app-page-loding></app-page-loding>
}
