@if (isLoading) {
  <div class="pb-3">
    <div class="d-flex justify-content-between">
      <div>
        <i
          class="bx bx-arrow-back fs-4"
          style="cursor: pointer"
          (click)="goBack()"
        ></i>
      </div>
      <div class="d-flex gap-2 align-items-center">
        <button
          class="btn btn-primary px-3 rounded-5 btn-sm"
          (click)="editDetails()"
        >
          Edit Details
        </button>
        <i class="bx bx-trash fs-4 cr-pointer" (click)="deliteDetails()"></i>
        <i class="bx bx-dots-vertical fs-4 cr-pointer"></i>
      </div>
    </div>

    <div class="d-flex gap-2 align-items-center mt-4">
      <div class="student-img-container">
        @if (leadDetails.leadPhoto != null) {
        <img
          src="{{ leadDetails.leadPhoto.documentContant }}"
          alt="{{leadDetails.leadPhoto.documentName}}"
        />
        } @else {
        <div class="initials fw-bold">
          @if (leadDetails.leadName) {
          {{ leadDetails.leadName.charAt(0)
          }}{{ leadDetails.leadName.charAt(1)}}
          }
        </div>
        } @if (!isEnabled) {
        <i class="bx bx-edit-alt edit-icon fs-4"></i>
        }
      </div>
      <p class="fs-5 fw-bold m-0 p-0">
        {{ leadDetails.leadName }}
      </p>
      <!-- Example single danger button -->
      <div class="btn-group">
        <span
          class="{{leadDetails.leadStatusValue}} px-2 py-1 rounded cr-pointer dropdown-toggle btn-sm small"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ leadDetails.leadStatusLabel}}
        </span>
      </div>
    </div>
    <div class="icon-row-container mt-4">
      <div class="icon-row">
        <div class="icon-box">
          <a
            href="{{ leadDetails.leadEmail }}"
            class="text-dark text-decoration-none"
            ><i class="bx bx-envelope"></i
          ></a>
          <span>Email</span>
        </div>
        <div class="icon-box">
          <a href="" class="text-dark text-decoration-none"
            ><i class="bx bx-calendar"></i
          ></a>
          <span>Schedule</span>
        </div>
        <div class="icon-box">
          <a
            href="tel:+91 {{ leadDetails.leadMobileNumber }}"
            class="text-dark text-decoration-none"
            ><i class="bx bx-phone"></i
          ></a>
          <span>Call</span>
        </div>
      </div>
      <div class="divider-line"></div>
    </div>
    <div>
      <form>
        <div class="row">
          <p class="fs-5 fw-bold">Lead Details</p>
          <div class="col-md-4">
            <app-input-control
              label="First Name"
              [required]="true"
              [btnClicked]="isEnabled"
              [(ngModel)]="leadDetails.leadName"
              name="firstName"
            ></app-input-control>
          </div>
          <div class="col-md-4">
            <app-input-control
              label="Email"
              type="email"
              [required]="true"
              [btnClicked]="isEnabled"
              [(ngModel)]="leadDetails.leadEmail"
              name="email"
            ></app-input-control>
          </div>
          <div class="col-md-4">
            <app-input-control
              label="Mobile Number"
              type="tel"
              [required]="true"
              [btnClicked]="isEnabled"
              [(ngModel)]="leadDetails.leadMobileNumber"
              name="mobileNumber"
            ></app-input-control>
          </div>
          <div class="col-md-4">
            <app-input-control
              label="Lead Source"
              type="tel"
              [required]="true"
              [btnClicked]="true"
              [(ngModel)]="leadDetails.leadSource"
              name="mobileNumber"
            ></app-input-control>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <app-input-control
              label="Lead Remark"
              type="textarea"
              [required]="true"
              [btnClicked]="isEnabled"
              [(ngModel)]="leadDetails.leadName"
              name="firstName"
            ></app-input-control>
          </div>
        </div>
      </form>
    </div>
    <div class="history-container mt-4">
      <p class="fs-5 fw-bold">Lead History</p>
      <div class="timeline mt-3">
        <div class="Next-timeline-item d-flex align-items-center gap-2 mb-2">
          <div class="Next-timeline-dot"></div>
          <div class="timeline-content bg-light py-1 px-2 rounded">
            <p class="m-0 p-0 text-muted small">Next Changes ...</p>
          </div>
        </div>
        <!--  -->
        <div class="timeline-item d-flex align-items-end gap-2 mb-2">
          <div class="timeline-dot"></div>
          <div class="timeline-content bg-light py-1 px-2 rounded">
            <p class="mb-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum dignissimos, quisquam, quas nobis doloremque et id repellat inventore aliquam qui delectus distinctio quae ipsam molestiae voluptatum mollitia, recusandae quia! Pariatur!</p>
            <p class="text-muted mb-0">
              <small>Vignesh Muthaiyan | 03-05-2025 | 14:57 PM</small>
            </p>
          </div>
        </div>
        <div class="timeline-item d-flex align-items-end gap-2 mb-2">
          <div class="timeline-dot"></div>
          <div class="timeline-content bg-light py-1 px-2 rounded">
            <p class="mb-2">Test</p>
            <p class="text-muted mb-0">
              <small>Vignesh Muthaiyan | 03-05-2025 | 14:57 PM</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  } @else {
    <app-page-loding></app-page-loding>
  }
